<br>
<h3 class="text message">수연여자대학교 굿즈샵 장바구니</h3>
{{{html_contents}}}

<br>
<br>
<br>
<br>

<div class="pull-right">
    <a href="/shop/store" class="stw-button btn btn-default" role="button">구매</a>
                            </div>

<!-- <div class="row">
<div class="row">
            <div class="col-md-4 col-md-offset-4" style="padding-right: 1em; padding-left: 1em;">
                <div class="stw-jumbotron jumbotron" text-center>
                            <button type="submit" class="stw-button btn btn-default btn-block"> <h4> 구매 </h4> </button>
                </div>
            </div>
        </div> -->