   <div class="container-fluid" id="text_jumbotron_container" style="margin-top: 1.8em">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron" text-center style="padding-top: 0.5em; padding-bottom: 1.4em;">
                    <h2>About </h2>
                    <h5>This website was made by wishfree 2017.</h5>
                    <h5>This site was built only for understanding and test of web hacking techniques described in my book. I hope you can have a good grasp of it by practicing and testing what you've learned.</h5>
                    <h5>And... this website has lots of vulnerabilities and bugs. So it is definitely not made for providing some sample webpages who wants to build their own.</h5>
                </div>

               <div class="jumbotron" text-center style="padding-top: 0.5em; padding-bottom: 1.4em;">
                    <h3>Used Technologies & Library</h3>
                    <h5>⦁ HTLM & CSS</h5>
                    <h5>⦁ Javascript</h5>
                    <h5>⦁ Node.js </h5>
                    <h5>⦁ Express</h5>
                    <h5>⦁ Express-handlebars</h5>
                    <h5>⦁ Jquery</h5>
                    <h5>⦁ Sqlite3</h5>
                    <h5>⦁ Bootstrap</h5>
                    <h5>⦁ Underscore</h5>

                </div>
            </div>
        </div>


    </div>