<div class="row">
    <!-- <div class="cotainer-fluid"> -->
    <!-- <div class="col-md-10 col-md-offset-1 inline"> -->
    <!-- <hr> -->
    <h2 class="bg-primary" style="padding:8px 12px 12px 8px; border-radius: 0.12em"> &nbsp; 애플 II 컴퓨터</h2>
    <label class="control-label" for="Writer">Writer : </label>
    <span class="text-muted" id="Writer">wishfree </span>
    <label class="control-label" for="Category">&emsp; Category : </label>
    <span class="text-muted" id="Category">한빛미디어-2017-05 </span>
    <label class="control-label" for="Date">&emsp; Date : </label>
    <span class="text-muted" id="Date">2017-03-27 </span>
    <label class="control-label" for="Count">&emsp; Read Count : </label>
    <span class="text-muted" id="Count">0 </span>
    <hr style="margin-top: 10px; margin-bottom: 18px;">
    <p> 애플사가 1977년에 만든 최초의 일체형 개인용 컴퓨터. 가장 초창기의 개인용 컴퓨터 중 하나이자 그 중 가장 성공한 제품으로 1970년대 말부터 80년대 전반에 걸쳐 개인용 컴퓨터 붐을 이끈 주역. MSX 등과 비교하면 아무래도 하드웨어 성능이 떨어지는 편이었지만 성공한 선발주자이니만큼 소프트웨어의 양과 질은 압도적이었으며 이를 밑천으로 떨어지는 성능에도 불구하고 경쟁 기종들에 뒤쳐지지 않음. </p>
    <hr style="margin-top: 20px; margin-bottom: 12px;">


<!-- /////////////////////////////////////////////////////////////////////////////// -->
    <label class="control-label" for="Attachment">Attachments </label>
    <table class="table table-striped table-condensed" id="Attachment">
        <tbody>
            <tr>
                <td>
                    <span class="preview"><img src="../../uploaded/img_3_139_0.jpg" width="80" height="56"></img></span>
                </td>
                <td>
                    <p>apple_2.jpg</p>
                </td>
                <td>
                    <p>61.97 KB</p>
                </td>
                <td>
                    <button class="btn btn-primary" style="padding:4px 6px 2px 6px">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <audio controls>
                        <source src="../../uploaded/류이치 사카모토 - Summer.mp3" type="audio/mpeg">
                    </audio>
                </td>
                <td>
                    <p>류이치 사카모토 - Summer.mp3</p>
                </td>
                <td>
                    <p>2.46 MB</p>
                </td>
                <td>
                    <button class="btn btn-primary" style="padding:4px 6px 2px 6px">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>볼보_보험증권.pdf</p>
                </td>
                <td>
                    <p>301.79 KB</p>
                </td>
                <td>
                    <button class="btn btn-primary" style="padding:4px 6px 2px 6px">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>Analytics Command.txt</p>
                </td>
                <td>
                    <p>0.60 KB</p>
                </td>
                <td>
                    <button class="btn btn-primary" style="padding:4px 6px 2px 6px">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <video poster="../../images/poster-image.jpg" height="120" controls="controls">
                        <source src="../../uploaded/04_Digital Forensics and eDiscovery.mp4" type="video/mp4" />
                    </video>
                    <td>
                        <p>04_Digital Forensics and eDiscovery.mp4</p>
                    </td>
                    <td>
                        <p>1.59 MB</p>
                    </td>
                    <td>
                        <button class="btn btn-primary" style="padding:4px 6px 2px 6px">
                            <i class="glyphicon glyphicon-download"></i>
                        </button>
                    </td>
            </tr>
        </tbody>
    </table>
    <!-- <hr> -->

<div class="text-center">
    <button class="btn btn-primary">List &nbsp;<i class="fa fa-list-alt spaceLeft"></i></button>
    <button class="btn btn-info">Edit &nbsp;<i class="fa fa-pencil spaceLeft"></i></button>
</div>
</div>